{#
/**
 * @file
 * Theme implementation to display a Provider node in "Main fields 2" view mode.
 *
 * Available rendered fields:
 * - content.field_pro_display_reviews
 * - content.field_pro_rating_average
 * - field_pro_rating_count
 *
 * @see sampletheme_preprocess_node__provider__main_fields_2()
 */
#}
<div>

  {% if node.field_pro_reviews.0 is not empty
    and node.field_pro_display_reviews.0.value == 1 %}

    <div id="reviews" class="mt-16">
      {% include '@sampletheme/heading/heading.twig' with {
        style: 'primary',
        size: 'lg',
        alignment: 'left',
        tag: 'h2',
        text: 'Reviews'|t,
      } %}
      <div class="mt-3 provider-reviews">
        {% include '@sampletheme/provider-reviews/review-card-list.twig' with {
          items: node.field_pro_reviews.0.value,
          ratings: {
            aggregate_attributes: aggregate_rating_attributes,
            value_attributes: value_rating_attributes,
            count_attributes: count_rating_attributes,
            rating_average: node.field_pro_rating_average.0.value,
            rating_count: node.field_pro_rating_count.0.value,
            tooltip: {
              button_id: 'button-tooltip-reviews-' ~ node.id,
              tooltip_text: 'Star ratings are displayed only for those physicians who participate in xxxxxxxx patient experience survey program and have received a minimum of 30 survey responses.'|t,
              aria_label: 'Ratings tooltip button'|t,
              arrow_placement: 'top',
            }
          }
        } %}
      </div>
    </div>

  {% endif %}

</div>
