{#
/**
 * @file
 * Theme implementation to display a Provider node in "Header fields" view mode.
 *
 * Available rendered fields:
 * - content.field_pro_is_employed_sampletheme
 * - content.field_pro_name
 * - content.field_pro_photo
 * - content.field_pro_practice_location
 * - content.field_pro_profile_video
 * - content.field_pro_pronouns
 * - content.field_pro_rating_average
 * - content.field_pro_rating_count
 * - content.field_pro_specialty
 * - content.pro_book_appointment : Book Appointment, Request Appointment, Second Opinion buttons
 * - content.pro_insurance_link
#}
{#
  "Accepting patients" field values: 'Open', 'Existing', 'Closed'
#}

{% set accepting_patients = node.field_pro_accepting_patients.0 is not empty ? node.field_pro_accepting_patients.0.value|lower : null %}

{% set primary_care = node.field_pro_is_primary_care_dr.0 is not empty and node.field_pro_is_primary_care_dr.0.value == true %}

{% set dark_mode = configuration.derived_settings.dark_mode ? configuration.derived_settings.dark_mode : true %}

{% set review_count = node.field_pro_reviews.0 is not empty and node.field_pro_display_reviews.0.value == 1 ? node.field_pro_reviews.0.value|json_count_items : null %}

{% include '@sampletheme/provider-header/provider-hero.twig' with {
  attributes: attributes,
  title_prefix: title_prefix,
  title_suffix: title_suffix,
  image: content.field_pro_photo|render,
  heading: {
    tag: 'h1',
    text: label,
    color: 'white',
  },
  ratings: {
    aggregate_attributes: aggregate_rating_attributes,
    value_attributes: value_rating_attributes,
    count_attributes: count_rating_attributes,
    rating_average: node.field_pro_rating_average.0.value,
    rating_count: node.field_pro_rating_count.0.value,
    review_count: review_count,
    dark_mode: dark_mode,
    tooltip: {
      button_id: 'button-tooltip-ratings-' ~ node.id,
      tooltip_text: 'Star ratings are displayed only for those physicians who participate in xxxxxxxx patient experience survey program and have received a minimum of 30 survey responses.'|t,
      aria_label: 'Ratings tooltip button'|t,
      arrow_placement: 'top',
    }
  },
  rating_review_link_style: content.rating_review_link_style,
  review_count: content.review_count,
  appointment_button: content.pro_book_appointment ?: null,
  accepting_patients: accepting_patients,
  primary_care: primary_care,
  has_profile_video: node.field_pro_profile_video.0 is not empty,
  video: {
    attributes: video_attributes,
    text: 'Meet @meet_name'|t({'@meet_name': meet_name}),
  },
  practice_location: node.field_pro_practice_location.0.target_id ? content.field_pro_practice_location: null,
  pronouns: content.field_pro_pronouns.0 ? content.field_pro_pronouns|render|striptags : null,
  specialties: content.field_pro_specialty ? content.field_pro_specialty|render : null,
  employed_by_xxxxxxxx: node.field_pro_is_employed_sampletheme.0.value,
  affiliate: {
    attributes: affiliate_attributes,
    content_attributes: affiliate_content_attributes,
    text: 'This physician is an affiliate of the xxxxxxxx but is not employed by xxxxxxxx.'|t,
  },
  insurance_link: content.pro_insurance_link ? content.pro_insurance_link : null,
} only %}
