{#
/**
 * @file
 * Theme implementation to display a Provider in "Search result" view mode.
 */
#}

{#
  "Accepting patients" field values: 'Open', 'Existing', 'Closed'
#}
{% set accepting_patients = node.field_pro_accepting_patients.0 is not empty ? node.field_pro_accepting_patients.0.value|lower : null %}

{% set primary_care = node.field_pro_is_primary_care_dr.0 is not empty and node.field_pro_is_primary_care_dr.0.value == true %}

{% include '@sampletheme/search-result/provider-search-result.twig' with {
  attributes: attributes,
  title_attributes: title_attributes,
  title_prefix: title_prefix,
  title_suffix: title_suffix,
  heading: {
    tag: 'h3',
    text: label,
    url: url,
  },
  nid: node.id,
  image: content.field_pro_photo,
  accepting_patients: accepting_patients,
  more_locations_link: content.more_locations_link,
  more_locations_text: content.more_locations_text,
  phone_number: content.phone_number ?: null,
  primary_care: primary_care,
  specialties: node.field_pro_specialty.0 ? content.field_pro_specialty : null,
  ratings: {
    rating_average: node.field_pro_rating_average.0.value,
    rating_count: node.field_pro_rating_count.0.value,
    dark_mode: false,
    tooltip: {
      button_id: 'button-tooltip-ratings-' ~ node.id,
      tooltip_text: 'Star ratings are displayed only for those physicians who participate in xxxxxxxx patient experience survey program and have received a minimum of 30 survey responses.'|t,
      aria_label: 'Ratings tooltip button'|t,
      arrow_placement: 'top',
    }
  },
  review_count: content.review_count,
  practice_location: node.field_pro_practice_location.0.target_id ? content.field_pro_practice_location : null,
  bestDoctorAward: {
    hasAward: node.field_pro_is_best_doctor.0 is not empty and node.field_pro_is_best_doctor.0.value == true,
    text: 'Best Doctor'|t,
  },
  superDoctorAward: {
    hasAward: node.field_pro_is_super_doctor.0 is not empty and node.field_pro_is_super_doctor.0.value == true,
    text: 'Super Doctor'|t,
  },
  topDoctorAward: {
    hasAward: node.field_pro_is_top_doctor.0 is not empty and node.field_pro_is_top_doctor.0.value == true,
    text: 'Top Doctor'|t,
  },
  lgbtqChampionAward: {
    hasAward: node.field_pro_is_lgbtq_champion.0 is not empty and node.field_pro_is_lgbtq_champion.0.value == true,
    text: 'LGBTQ+ Champion'|t,
  },
  appointment_buttons: content.pro_book_appointment ?: null,
} only %}
