{% if ratings.rating_average is not empty %}
  {# set text color depending on if the view mode uses dark mode or not #}
  {% if dark_mode %}
    {% set rating_text_color_class = 'text-primary-alt-darkest' %}
    {% set rating_average_color_class = 'text-white' %}
    {% set divider_color_class = 'text-primary-alt-darkest' %}
  {% else %}
    {% set rating_text_color_class = 'text-primary' %}
    {% set rating_average_color_class = 'text-black' %}
    {% set divider_color_class = 'text-black' %}
  {% endif %}
  <div{{ aggregate_attributes }} class="flex flex-wrap mt-3 md:mt-0">
    <div class="flex flex-wrap sm:flex-nowrap items-center">
      <div class="not-sr-only text-primary-alt-darkest text-sm md:text-lg flex items-center mr-2">
        {% for i in range(1, 5) %}
          {% if ratings.rating_average >= i %}
            <i class="fas fa-star"></i>
          {% elseif ratings.rating_average >= (i - 0.5) %}
            <i class="fas fa-star-sharp-half-stroke"></i>
          {% else %}
            <i class="far fa-star"></i>
          {% endif %}
        {% endfor %}
      </div>
      {# set text color  #}
      <div class="{{ rating_average_color_class }} mr-3 flex text-sm lg:text-base">
        <span class="sr-only"> Average rating: </span>
        <span{{ value_attributes }}>
        {% include '@sampletheme/link/link.twig' with {
          style: 'primary',
            text: ratings.rating_average,
            url: url ~ '#reviews',
            dark_mode: dark_mode,
            classes: [
              'text-sm',
              'lg:text-base',
              'leading-tight',
              rating_average_color_class,
            ],
        } only %}</span>
      </div>
    </div>

    <div class="flex {{ rating_text_color_class }} space-x-1 items-center text-base">
      <div>
      {# Ratings #}
      {% if ratings.rating_count is not empty %}
        {% set rating_text = ratings.rating_count ~ ' rating' ~ (ratings.rating_count > 1 ? 's' : '') %}
        <span class="{{ divider_color_class }} pr-1">|</span>
        {% include '@sampletheme/link/link.twig' with {
          style: 'primary',
            text: rating_text,
            url: url ~ '#reviews',
            dark_mode: dark_mode,
            classes: [
              'text-sm',
              'lg:text-base',
              'leading-tight',
            ],
        } only %}
      {% endif %}
      {# Reviews #}
      {% if review_count is not empty %}
        {% set review_text = review_count ~ ' review' ~ (review_count > 1 ? 's' : '') %}
        <span class="{{ divider_color_class }} px-1">|</span>
        {% include '@sampletheme/link/link.twig' with {
          style: 'primary',
            text: review_text,
            url: url ~ '#reviews',
            dark_mode: dark_mode,
            classes: [
              'text-sm',
              'lg:text-base',
              'leading-tight',
            ],
        } only %}
      {% endif %}
      </div>
      {% if ratings.tooltip is not empty %}
        &nbsp;
        {% include '@sampletheme/tooltip/tooltip.twig' with ratings.tooltip only %}
      {% endif %}
    </div>
  </div>
{% endif %}
