.provider-hero {
  @apply grid;
  grid-template-areas:
    'a b'
    'c c';
  grid-template-columns: minmax(100px, max-content) 1fr;
}

.provider-hero .img-col {
  grid-area: a;
  max-width: 290px;
}

.provider-hero .label-col {
  grid-area: b;
}

.provider-hero .info-col {
  grid-area: c;
}

@media screen and (min-width: theme('screens.lg')) {
  .provider-hero {
    grid-template-areas:
      'a b'
      'a c';
  }
}
