{#
 * Available variables:
 * - specialties
 * - ratings
 * - accepting_patients: 'Open', 'Existing', 'Closed'
 * - rating_average
 * - pronouns: 14px t0 31px
 * - label: 22 to 48, margin right large 16, mt-2.5 = 10px, 4 = 16, 10=40px
#}

{{ attach_library('sampletheme/provider-hero') }}

{% set dark_mode = dark_mode|default(true) %}

{% set container_classes = [
  'provider-hero',
  'grid',
  'gap-4',
  'grid-flow-col',
  'w-full',
  'lg:gap-x-10',
  'lg:gap-y-4',
] %}

{% set img_col_classes = [
  'img-col',
  'w-32',
  'md:w-40',
  'lg:w-auto',
] %}

{% set label_col_classes = [
  'label-col',
  'self-center',
  'lg:self-end',
  'space-y-2',
  'lg:space-y-4',
] %}

{% set info_col_classes = [
  'info-col',
  'space-y-4',
] %}

{% set location_block_classes = [
  'space-y-4',
  'lg:space-y-3',
  'lg:pt-2',
] %}

{% set buttons_block_classes = [
  'flex',
  'flex-col',
  'lg:flex-row',
  'gap-4',
  'lg:gap-10',
  'pt-2',
] %}

<div{{ attributes.addClass(container_classes) }}>

  <div class="{{ img_col_classes|join(' ')|trim }}">
  {# flex justify-center md:w-max flex-shrink-0 relative #}
    <div class="flex relative place-content-center">
      {% if image %}
        <div class="rounded overflow-hidden">
          {{ image }}
        </div>
      {% endif %}

      {# Profile video (desktop - 'md' breakpoint and up) #}
      {% if has_profile_video and video %}
        <div class="hidden lg:block lg:mx-4 lg:absolute lg:-bottom-5 mb-auto">
          <a href="#videos" class="bg-primary hover:shadow-xl inline-block cursor-pointer active:shadow-inner text-white shadow-md px-3 py-2 border border-transparent rounded-md transition-colors duration-200 ease-in-out">
            <div class="flex flex-shrink-0 flex-grow-1 mt-4 md:mt-0 items-center leading-tight">
              {{ video.text }}
              <i class="fas fa-play-circle ml-3"></i>
            </div>
          </a>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="{{ label_col_classes|join(' ')|trim }}">
    {% include '@sampletheme/providers/provider-accepting-patients.twig' with {
      accepting_patients: accepting_patients,
      primary_care: primary_care,
      dark_mode: dark_mode,
      text_size: 'small',
    } only %}

    {% if heading %}
      {% include '@sampletheme/heading/heading.twig' with {
        tag: 'h1',
        text: heading.text,
        color: 'white',
        heading_extra_classes: ['inline-block', 'mr-2', 'text-2xl', 'font-medium', 'md:text-3xl', 'lg:text-4xl', 'xl:text-5xl', 'xl:leading-tight'],
      } only %}

      {% if pronouns %}
        {% apply spaceless %}
          <span class="font-serif lowercase text-white text-base lg:text-3xl">({{ pronouns|trim }})</span>
        {% endapply %}
      {% endif %}
    {% endif %}
  </div>

  <div class="{{ info_col_classes|join(' ')|trim }}">
    {# Extra div to wrap specialties and rating to control the vertical space #}
    {% if  specialties or ratings %}
      <div class="space-y-2.5">
        {% if specialties %}
          {{ specialties }}
        {% endif %}

        {% if ratings %}
          {% include '@sampletheme/provider-ratings/provider-ratings.twig' with ratings %}
        {% endif %}
      </div>
    {% endif %}

    {% if practice_location %}
      {#
        Field with first referenced Practice Location and "more" link.
        @see field--node--field-pro-practice-location--header-fields.html.twig
      #}
      <div class="{{ location_block_classes|join(' ')|trim }}">
        {{ practice_location }}
      </div>
    {% endif %}

    <div class="{{ buttons_block_classes|join(' ')|trim }}">
      {# Profile video (mobile - up to 'md' breakpoint) #}
      {% if has_profile_video and video %}
        <div class="lg:hidden">
          {% include '@sampletheme/button/button.twig' with {
            attributes: video.attributes,
            text: video.text,
            url: '#videos',
            style: 'primary',
            size: 'small',
            aria_label: video.text,
            icon: 'fa-play-circle',
            classes: ['w-full', 'lg:w-auto']
          } only %}
        </div>
      {% endif %}

      {% if appointment_button %}
        {#
          Book Appointment or Request Appointment button - extra field
          @see sampletheme-appointment-links--provider--header-fields.html.twig
        #}
        {{ appointment_button }}
      {% endif %}

      {% if insurance_link %}
        {% include '@sampletheme/providers/provider-insurance-link.twig' with {
            url: '/patient-resources/health-insurance-accepted',
            dark_mode: true,
            view_mode: 'header_fields'
        } %}
      {% endif %}
    </div>

    {% if employed_by_xxxxxxxx == false and affiliate %}
      <p class="text-xs text-white text-center lg:text-left">{{ affiliate.text }}</p>
    {% endif %}
  </div>
</div>
