{#
* Available variables:
*
* - ratings
 * - aggregate_attributes
 * - value_attributes
 * - count_attributes
 * - rating_average
 * - rating_count
* - items: the Json string of reviews
* - tooltip
*
* @see templates/node/node--provider--main-fields-2.html.twig
* @see modules/custom/reviewmodule_field/src/TwigExtension/Json.php
*
#}

{{ attach_library('sampletheme/provider-reviews') }}

{% set review_count = items|json_count_items %}

{% if ratings.rating_average %}
	{% set rating_text_color_class = 'text-primary' %}
	<div{{ratings.aggregate_attributes}} class="mt-1 md:mt-0">
		<div class="flex sm:flex-nowrap items-center">
			<div class="text-black mr-2 font-bold lg:prose-lg">
				<span>
					Overall Rating:
				</span>
			</div>
			<div class="not-sr-only text-primary-alt-darkest text-sm md:text-lg flex items-center">
				{% for i in range(1, 5) %}
					{% if ratings.rating_average >= i %}
						<i class="fas fa-star"></i>
					{% elseif ratings.rating_average >= (i - 0.5) %}
						<i class="fas fa-star-half"></i>
					{% else %}
						<i class="far fa-star"></i>
					{% endif %}
				{% endfor %}
			</div>
      <div class="flex text-black font-bold space-x-1 items-center text-lg mr-2">
        <span{{ratings.value_attributes}}>{{ ratings.rating_average }}</span>
      </div>
      <div class="text-primary">
        {% include '@sampletheme/tooltip/tooltip.twig' with ratings.tooltip only %}
      </div>
    </div>
	</div>
	<div class="lg:prose-md mb-6 mt-2">
    <span class="mr-1">{{ ratings.rating_count }} total ratings</span> | <span class="ml-1">{{ review_count }} reviews</span>
  </div>
{% endif %}

{% include '@sampletheme/provider-reviews/review-card.twig' with {
  attributes: attributes,
  reviews: items,
} %}

{% if review_count > 5 %}
  <div class="flex justify-center">
  <a class="button button--primary button--small mt-2 mb-8" id="showReviews" aria-label="Load more provider reviews">Load More</a>
  </div>
{% endif %}
