{#
* Available variables:
*
* - reviews
 * - review_body
 * - review_date
 * - review_rating
* - attributes
*
* @see templates/node/node--provider--main-fields-2.html.twig
* @see modules/custom/reviewmodule_field/src/TwigExtension/Json.php
*
#}

<div{{attributes}}>
	{% for review in reviews|json_decode %}
    {% if loop.index > 5 %}
      {% set visibility = 'hidden' %}
    {% endif %}
    <div class="provider-review {{ visibility }} bg-white border border-gray-faint shadow-md px-12 py-8 mb-6">
			<div class="md:flex md:justify-between">
				<div class="md:mx-6 mb-3 flex-none w-48">
					<div class="text-primary-alt-darkest prose-lg">
            {% for i in range(1, 5) %}
              {% if review.overallRating.value >= i %}
                <i class="fas fa-star"></i>
              {% elseif review.overallRating.value >= (i - 0.5) %}
                <i class="fas fa-star-half"></i>
              {% else %}
                <i class="far fa-star"></i>
              {% endif %}
            {% endfor %}
						<span class="text-black font-bold ml-2">{{ review.overallRating.value|number_format(1) }}</span>
					</div>
					<div>{{ item.rating }}</div>
					<div class="lg:prose-md md:mt-1">{{ review.mentionTime|date("F j, Y") }}</div>
				</div>
				<div class="md:block md:ml-3 flex-1">
					<div class="lg:prose-lg">{{ review.comment }}</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
